<template>
    <v-snackbar
            v-model="snackbar.visible"
            :timeout="snackbar.timeout"
            :multi-line="snackbar.multiline === true"
            bottom
            right
            color="primary"
    >
        {{ snackbar.text }}
        <v-btn flat dark @click="closeSnackbar">Close</v-btn>
    </v-snackbar>
</template>

<script>
    export default {
        name: "SuccessSnackBar",
        computed: {
            snackbar() {
                return this.$store.state.success_snackbar
            }
        },
        methods: {
            closeSnackbar () {
                this.$store.dispatch('closeSuccessSnackbar');
            }
        }
    }
</script>

<style scoped>

</style>
