<template>
    <div>
        <v-navigation-drawer fixed :clipped="$vuetify.breakpoint.mdAndUp" class="white" app v-model="drawer">
            <v-list dense class="white">
                <template v-for="(item, i) in items">
                    <v-layout row v-if="item.heading" align-center :key="i"></v-layout>
                    <v-divider dark v-else-if="item.divider" class="my-3" :key="i"></v-divider>
                    <v-list-tile :key="i" v-else @click="navigate(item.route)">
                        <v-list-tile-action>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title class="black--text">
                                {{ item.text }}
                            </v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </template>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar class="primary" app  clipped-left>
            <v-toolbar-side-icon class="white--text"  @click.native="drawer = !drawer"></v-toolbar-side-icon>
            <span class="title ml-3 mr-5 white--text">The Tutor<span class="text"></span></span>
            <!--<v-text-field-->
            <!--solo-inverted-->
            <!--flat-->
            <!--label="Search"-->
            <!--prepend-icon="search"-->
            <!--&gt;</v-text-field>-->
            <v-spacer></v-spacer>
            <v-menu  bottom nudge-bottom="0" :nudge-width="150" >
                <template v-slot:activator="{ on }">
                    <v-btn dark icon v-on="on">
                        <v-icon>more_vert</v-icon>
                    </v-btn>
                </template>
                <v-list>
                    <v-list-tile v-for="(item, i) in itemsToolbar" :key="i" @click="logout">
                        <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-menu>
        </v-toolbar>
    </div>
</template>

<script>
    export default {
        name: "Toolbar",
        data: () => ({
            drawer: null,
            left: null,
            items: [
                { icon: 'people', text: 'Promo Code', route: '/promo' },
                { icon: 'assignment', text: 'Partners', route: '/partner' },
                { divider: true },
            ],
            itemsToolbar: [
                {title: 'Logout'}
            ]
        }),
        methods : {
            navigate (url){
                this.$router.push(url)
            },
            logout () {
                if (this.$localStorage.get('session')) {
                    let session = JSON.parse(this.$localStorage.get('session'));

                    let formData = {
                        client_id : session.client_id
                    };

                    //authService.methods.logoutInternalUser(formData);
                    this.$localStorage.remove('session');
                    this.$localStorage.remove('user');
                }
            }
        }
    }
</script>

<style scoped>

</style>
