<template>
    <v-app class="white">
        <v-content>
            <toolbar v-if="this.$localStorage.get('session')"></toolbar>
            <v-container fluid>
                <router-view></router-view>
            </v-container>
        </v-content>
        <success-snack-bar></success-snack-bar>
        <error-snack-bar></error-snack-bar>
    </v-app>
</template>

<script>

    import toolbar from './components/layout/Toolbar'
    import successSnackBar from '@/components/layout/SuccessSnackBar'
    import errorSnackBar from '@/components/layout/ErrorSnackBar'

    export default {
        name: 'App',
        components: {
            toolbar,
            successSnackBar,
            errorSnackBar
        }
    }
</script>

<style lang="scss">
#app {
  font-family: 'Chalkboard', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

</style>
