<template>
    <v-layout row justify-center>
        <v-dialog v-model="dialog" persistent max-width="400px">
            <v-card>
                <v-form ref="form" v-model="valid">
                <v-card-title class="blue">
                    <span class="headline white--text">Login</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12>
                                <v-text-field v-model="email" label="Email Address*" :rules="emailRules" required></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field v-model="password" label="Password*" :rules="passwordRules" type="password" required></v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                    <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat @click="clearLocal">Sign Up</v-btn>
                    <v-btn :disabled="!valid" flat @click="loginUser" >Login</v-btn>
                </v-card-actions>
                </v-form>
            </v-card>
        </v-dialog>
    </v-layout>
</template>

<script>
    import sessionService from '@/services/sessionService';

    export default {
        name: "Login",
        data: () => ({
            email: null,
            password: null,
            dialog: false,
            valid: true,
            emailRules: [
                v => !!v || 'E-mail is required',
                v => /.+@.+/.test(v) || 'E-mail must be valid'
            ],
            passwordRules : [
                v => !!v || 'Password is required'
            ],

        }),
        methods : {
            async loginUser () {

                let formData = {
                    email : this.email,
                    password : this.password,
                    client_id : "12312312122"
                };
                await sessionService.methods.postSession(formData)
                    .then(response => {
                        if (response.status === 1){
                            this.$localStorage.set('session', JSON.stringify(response.session));
                            this.$localStorage.set('user', JSON.stringify(response.user))
                        }
                    });

            },
            async clearLocal () {
                this.$localStorage.remove('isUserLoggedIn')
                this.$router.push('/signup')
            }

        },

        mounted () {
           this.dialog = true
        },

    }
</script>

<style scoped>

</style>
