<template>
    <v-layout row justify-center>
        <v-dialog v-model="dialog" persistent max-width="500px">
            <v-card>
                <v-card-title class="blue">
                    <span class="headline white--text">Sign Up</span>
                </v-card-title>
                <v-form ref="form" v-model="valid">
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12 sm6 md6>
                                <v-text-field label="First name*" v-model="first_name" :rules="firstNameRules" required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md6>
                                <v-text-field label="Last name" v-model="last_name"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md6>
                                <v-text-field label="Phone No*" v-model="phone_no" :rules="phoneNoRules" required></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm6 md6>
                                <v-text-field label="Email*" v-model="email" :rules="emailRules" required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md6>
                                <v-text-field label="Password*" v-model="password" :rules="passwordRules" type="password" required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md6>
                                <v-select
                                        :items="['Tutor', 'Student']"
                                        label="User Type*"
                                        required
                                        :v-model="user_type"
                                ></v-select>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                </v-form>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click="backToLogin">Back To Login</v-btn>
                    <v-btn color="blue darken-1" :disabled="!valid" flat @click="signUp">Sign Up</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>

</template>

<script>
    import userService from '@/services/userService'
    export default {
        name: "SignUp",
        data: () => ({
            dialog: false,
            first_name : null,
            last_name :  null,
            phone_no : null,
            email : null,
            password : null,
            user_type : null,
            valid: true,
            emailRules: [
                v => !!v || 'E-mail is required',
                v => /.+@.+/.test(v) || 'E-mail must be valid'
            ],
            passwordRules : [
                v => !!v || 'Password is required'
            ],
            firstNameRules : [
                v => !!v || 'First Name is required'
            ],
            phoneNoRules: [
                v => !!v || 'Phone No is required'
            ]

        }),
        methods : {
            backToLogin (){
                this.$router.push('/')
            },
            async signUp(){
                let formData = {
                    first_name: this.first_name,
                    email : this.email,
                    last_name: this.last_name,
                    phone_no: this.phone_no,
                    password: this.password,
                    user_type: 0
                };
                console.log(formData);
                await userService.methods.postUser(formData);

            }
        },
        mounted () {
            this.dialog = true
        }
    }
</script>

<style scoped>

</style>
